{% extends 'base.html' %}
{% load static %}
{% block  content %}
<div class=" pt-5 mt-4">
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="bg-primary">
          <div class="inner">
           
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-6 col-6">
        <!-- small box -->
        <div class=" bg-success">

            <h4>who is the modern philospher</h4>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>

        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class=" bg-warning">
          <div class="inner">
            
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>

        </div>
      </div>

    </div>
</div>
{% endblock content %}
