{% extends 'basexam.html' %}
{% load static %}
<title>{% block title %}{% endblock title %}</title>
{% block content %}
<div class="toggle-sidebar">

  <!-- ======= Header ======= -->
 <!-- End Header -->
  {% include "snippets/basenav.html" %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1 >Math 212</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Exam</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <!-- Right side columns -->
        <div class="col-lg-3 d-none d-lg-block" >

          <!-- Recent Activity -->
          <div class="card">


            <div class="card-body">
              <h5 class="card-title"><span>| Today</span></h5>

              <div class="activity">

                <div class="activity-item d-flex">
                  <div class="activite-label"></div>
                  <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                  <div class="activity-content">
                    <a href="#" class="fw-bold text-dark">login</a>
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label"></div>
                  <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                  <div class="activity-content">
                    view dashboard
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label"></div>
                  <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                  <div class="activity-content">
                    check available exam
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label"></div>
                  <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                  <div class="activity-content">
                    select available exam
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label"></div>
                  <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                  <div class="activity-content ">
                    <a class="fw-bold text-dark"> Answer all questions correctly</a>
                  </div>
                </div><!-- End activity item-->

                <div class="activity-item d-flex">
                  <div class="activite-label"></div>
                  <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                  <div class="activity-content">
                    when done submit the examination logout 
                  </div>
                </div><!-- End activity item-->

              </div>

            </div>
          </div><!-- End Recent Activity -->
        </div>
        <div class="col-lg-7 col-md-12">
          <div class="card rounded">
            <div class="card-body" >
              <h5 class="card-title">Quiz</h5>

              {% for q in q_list %}
              <div class="card-body">
                <i class="text-bold">Question <span>{{q_list.number}} of {{q_list.paginator.num_pages}}</span></i>
                <div class="pt-3 question" id="{{q.id}}">
                  {{q.question}}
                </div>
                <div class="d-flex flex-wrap mb-3 pt-3 gap-3" id="form">
                  
                  <div class=" d-flex flex-wrap gap-1">
                    A.<input class="form-check-input" type="radio" name="answer" id="gridRadios1" value="{{q.answer_options.a}}">
                    <label class="form-check-label" for="gridRadios1">
                      {{q.answer_options.a}}
                    </label>
                  </div>
                  <div class="d-flex flex-wrap gap-1">
                    B.<input class="form-check-input" type="radio" name="answer" id="gridRadios2" value="{{q.answer_options.b}}">
                    <label class="form-check-label" for="gridRadios2">
                      {{q.answer_options.b}}
                    </label>
                  </div>
                  <div class="d-flex flex-wrap gap-1">
                    C.<input class="form-check-input" type="radio" name="answer" id="gridRadios3" value="{{q.answer_options.c}}">
                    <label class="form-check-label" for="gridRadios3">
                      {{q.answer_options.c}}
                    </label>
                  </div>
                  <div class="d-flex flex-wrap gap-1">
                    D.<input class="form-check-input" type="radio" name="answer" id="gridRadios4" value="{{q.answer_options.d}}">
                    <label class="form-check-label" for="gridRadios4">
                      {{q.answer_options.d}}
                    </label>
                  </div>
                </div>
              </div>
              <input type="hidden" name="course" value="gst211">
              <input type="hidden" name="question" value="{{q.question.id}}">

              {% endfor %}
            </div>

          </div>
          <div class="text-center">
            {% if q_list.has_previous %}
              <a href="?page={{ q_list.previous_page_number }}" id="next" class="btn btn-primary">previous</a>
            {% endif %}
            {% if q_list.has_next %}
              <a href="?page={{q_list.next_page_number}}" class="btn btn-primary" id="next">next</a>
            {% endif %}
            {% if q_list.number == q_list.paginator.num_pages %}
              <a href="#" class="btn btn-primary submit" id="next">submit</a>
            {% endif %}
          </div>
          <div>
            {% for n_page in q_list.paginator.page_range %}
              <a href="?page={{n_page}}" class="btn btn-primary" id="next" >{{n_page}}</a>
            {% endfor %}

          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="card text-center p-2">
            <div>question <span class="fa fas fladge">fladge</span> 1.</div>
            <div>question 1 of 34</div>
          </div>
          <a href="#" id="next" class="submit">submit exam</a>
          <p>time remaining <span class="text-bold " id="countdown"></span></p>
        </div>
        
      </div>
</div>
</section>
<button type="button" class="d-none btn btn-primary" id="timeout" data-bs-toggle="modal" data-bs-target="#verticalycentered">
  Vertically centered
</button>
<div class="modal fade" id="verticalycentered" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1 class="text-danger ">Timeout !!!</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!-- End Vertically centered Modal-->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>Soasis</span>
  <div class="credits">
    Designed with  ❤️ </div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

</div>

<script type="text/javascript">
  console.log('hello world')
  

  const countdownEl = document.getElementById('countdown');
  const Timeout = document.getElementById('timeout');
  
  setInterval(updateCountdown, 1000);

  function updateCountdown(){
      var submits = document.querySelectorAll('.submit')
      
      const startingMinutes = 1
      if(localStorage.getItem('time') == null) {
        let time = startingMinutes * 60
        localStorage.setItem('time',time)
      }else{
        time = localStorage.getItem('time')
      }
  
      if (time <= 0 ){
        setTimeout(()=>{
            localStorage.getItem('time').delete()
            submits[0].click()
        },1000)
        //setTimeout(window.location.href = "{% url 'home' %}", 4000)
        
      }else{
        const minutes = Math.floor(time/60);
        let seconds = time % 60;
        seconds = seconds < 10 ? '0' + seconds :seconds;
        countdownEl.innerHTML = `${minutes}:${seconds}`
  
        time --;
        localStorage.setItem('time',time)
      }

  }

  var answer = document.getElementsByTagName('input');
  for (let index = 0; index < answer.length; index++) {
    console.log(answer[index].innerHTML);
    
  }
  var answer;
  {% for q in q_list %}
  var  question = "{{q.question}}"
{% endfor %}
  var submit = document.querySelectorAll('.submit')
  for(var i = 0; i< submit.length; i++){

    submit[i].addEventListener('click',(e)=>{
        document.getElementById('next').click()
        e.preventDefault()
        confirm("i you sure you want to submit")
        var url = "/submit_question";
          var submitData = {
            'course': 'computer science',
          }
        fetch(url, {
          method:'POST',
          headers:{
            'Content-Type':'applicaiton/json',
            'X-CSRFToken':csrftoken,
          },
          body:JSON.stringify({'form':submitData}),

        })
        .then((response) => response.json())
        .then((data) => {
        console.log('Success:', data);
        alert('question successfully added');
        window.location.href = "{% url 'student_home' %}"

        })
    })
  }
  var inputt = document.querySelectorAll("input[type='radio']")
  for (let index = 0; index < inputt.length; index++) {
     inputt[index].addEventListener('change',(e)=>{
        e.preventDefault()
         answer = inputt[index].value
        console.log(answer)
        var AnswerFormData = {
          'question': question,
          'answer': answer,
          'course': 'computer science'
        }
        var nexts = document.querySelectorAll('#next')
        for (let index = 0; index < nexts.length; index++) {
          nexts[index].addEventListener('click',()=>{
            console.log(AnswerFormData)
            var url = "/save_question"
              fetch(url, {
                method:'POST',
                headers:{
                  'Content-Type':'applicaiton/json',
                  'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({'form':AnswerFormData}),

              })
              .then((response) => response.json())
              .then((data) => {
              console.log('Success:', data);
              alert('question successfully added');

              })
            
          })
          
          
      }
   
     })
    
  }

  
</script>
{% endblock content %}
